<footer class="bbg-black bpt-24 bpb-24">
  <div class="page-width">
    <div class="bflex bflex-wrap lg:bflex-nowrap lg:bspace-x-4 bjustify-between">
      <div class="bw-full lg:bw-8/12 bflex bflex-wrap bgap-x-32 bgap-y-24">
        <ul class="btext-beige">
          <li>
            <h3 class="btext-beige bmb-3 bfont-bold">Beeswax Candles</h3>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
        </ul>
        <ul class="btext-beige">
          <li>
            <h3 class="btext-beige bmb-3 bfont-bold">Other BW Products</h3>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
        </ul>
        <ul class="btext-beige">
          <li>
            <h3 class="btext-beige bmb-3 bfont-bold">Company</h3>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
        </ul>
        <ul class="btext-beige bspace-y-2">
          <li>
            <h3 class="btext-beige bmb-3 bfont-bold">Connect with us</h3>
          </li>
          <li>
            
            <ul class="bflex bnowrap bgap-4">
              <li>
                <a href="{{ settings.social_facebook_link }}" class="bsocial-icon-link btext-beige bfill-current" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
              <li>
                <a href="{{ settings.social_facebook_link }}" class="bsocial-icon-link btext-beige bfill-current" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
              <li>
                <a href="{{ settings.social_facebook_link }}" class="bsocial-icon-link btext-beige bfill-current" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
              <li>
                <a href="{{ settings.social_facebook_link }}" class="bsocial-icon-link btext-beige bfill-current" >
                  {%- render 'icon-facebook' -%}
                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                </a>
              </li>
            </ul>
           
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
          <li>
            <a href="#">Nav Item</a>
          </li>
        </ul>
      </div>
      <div clas="bw-full lg:bw-4/12">
        <img src="https://via.placeholder.com/236x236" alt="">
      </div>
    </div>
  </div>
</footer>